<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
<div class="container min-vh-100 d-flex justify-content-center align-items-center">

    <!-- From -->
    <form action="/member/login" method="post" th:object="${loginForm}">

        <p class="h2 mb-4">Login</p>

        <!-- Email -->
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input th:field="*{email}" th:value="*{email}" type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>

        <!-- Password -->
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input th:field="*{password}" type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
<!--        <button type="" class="btn btn-primary">Sign in</button>-->
    </form>
</div>
</body>
</html>