<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{base :: common_header(~{::title},~{::link})}">
    <title>Login</title>
</head>

<style th:replace="~{base :: common_style}"></style>

<body>
<!-- 네비게이션 바 -->
<nav th:replace="~{base :: common_nav}"></nav>

<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <!-- From -->
    <form action="/member/login" method="post" th:object="${loginForm}">

        <p class="h2 mb-4" th:text="#{Login}">Login</p>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>

        <!-- Email -->
        <div class="mb-3">
            <label for="email" class="form-label" th:text="#{email.address}">Email address</label>
            <input th:field="*{email}" th:value="*{email}" type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>

        <!-- Password -->
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input th:field="*{password}" type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Login</button>
            <button th:onclick="|location.href='@{/member/register}'|" type="button" class="text-primary btn btn-outline-light small-font-size">Create Account</button>
        </div>
    </form>
</div>
</body>
</html>